/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --dark-bg: #232323;
    --secondary-dark: #282828;
    --accent-color: #E86962;
    --gray-color: #aaaaaa;
    --font-1: 'Cormorant Garamond', serif;
    --font-2: 'Quicksand', sans-serif;
}

body {
    background-color: var(--dark-bg);
}


h1 {
    font-size: 100px;
}

h2 {
    font-size: 72px;
}

h3 {
    font-size: 50px
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 18px;
}

ul {
    list-style: none;
}

img {
    object-fit: cover;
}

section {
    background-size: cover;
    background-position: center;
}

button,
a[type="button"] {
    padding-inline: 2rem;
    padding-block: 0.7rem;
    border: 2px solid var(--accent-color);
    text-decoration: none;
    transition: all 0.5s;
    color: white;
}

a:hover {
    color: var(--accent-color) !important;
}

a {
    text-decoration: none;
}

.font-1 {
    font-family: var(--font-1);
}

.font-2 {
    font-family: var(--font-2);
}


.form input,
.form textarea {
    background-color: transparent;
    color: var(--accent-color);
    border-bottom: solid 1px #343434;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.form input:focus,
.form textarea:focus {
    background-color: transparent;
    color: var(--accent-color);
    border-bottom: solid 1px var(--accent-color);
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
}

.form input::placeholder,
.form textarea::placeholder {
    color: #e869626e;
}

.form .submit_form {
    padding-inline: 2rem;
    padding-block: 0.7rem;
    border: 2px solid var(--accent-color);
    text-decoration: none;
    transition: all 0.5s;
    color: white;
}

.nav-link {
    color: white;
    border-bottom: 2px solid var(--dark-bg);
    font-size: 1.125rem;
}

.nav-link:hover {
    color: var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
}

.nav-link.active {
    color: var(--accent-color) !important;
}

.nav-link:focus {
    color: var(--accent-color) !important;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.dropdown-menu {
    background-color: var(--secondary-dark);
    border-radius: 0;
    border: none;
    padding: 0;
}

.dropdown-item {
    color: white;
    padding-block: 1rem;
}

.dropdown-item.active {
    color: white;
    background-color: #333;
}

.dropdown-item:hover {
    color: var(--accent-color);
    background-color: var(--secondary-dark);
}

.dropdown-item:focus {
    background-color: var(--secondary-dark);
    color: var(--accent-color);
}

.section {
    padding: 6em 2em 6em 2em;
    overflow: hidden;
}

.r-container {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

.bg-dark-color {
    background-color: var(--dark-bg);
}

.bg-dark-transparent {
    background-color: #232323b7;
}

.bg-secondary-dark {
    background-color: var(--secondary-dark);
}

.bg-accent-color {
    background-color: var(--accent-color);
}

.accent-color {
    color: var(--accent-color);
}

.border-accent-color {
    border-color: var(--accent-color);
}

.text-gray {
    color: var(--gray-color) !important;
}

.image-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #000;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.image-overlay-2 {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(180deg, #0000007D 0%, var(--dark-bg) 95%);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.image-overlay-3 {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #151515;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.image-overlay-bg {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.logo-container {
    max-width: 150px;
}

.divider {
    display: flex;
    align-items: center;
    width: 430px;
}

.divider::before {
    display: block;
    content: "";
    border-bottom: 0;
    flex-grow: 1;
    border-top: 8px solid var(--accent-color);
    max-width: 50px;
}

.divider-element {
    letter-spacing: 2px;
    flex-shrink: 0;
    flex-grow: 1;
    margin: 0;
    margin-left: 1rem;
    font-weight: 400;
}

.fs-very-large {
    font-size: 8.75rem;
}

.border-left-style {
    border-left: 15px solid var(--accent-color);
}

.social {
    display: flex;
    flex-direction: row;
    gap: 2.3rem;
    font-size: larger;
}

.social .social-item a {
    color: var(--accent-color);
    cursor: pointer !important;
    transition: all 0.5s;
}

.social-item a:hover {
    color: white !important;
}

.image-gallery-container {
    position: relative;
    aspect-ratio: 1/1;
}

.image-gallery .image-gallery__image img {
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
    transition: all 0.5s;
}

.image-gallery:hover .image-gallery__image img {
    filter: none;
}

.image-gallery__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scaleX(0);
    opacity: 0;
    transform-origin: right;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-gallery:hover .image-gallery__content {
    transform: scaleX(1);
    opacity: 1;
}

.card {
    border-top: 2px solid var(--accent-color);
}

@property --progress {
    syntax: '<integer>';
    inherits: true;
    initial-value: 0;
}

@keyframes load {
    to {
        --progress: var(--value)
    }
}

.r-progress {
    --value: 17;
    --progress-color: #E86962;
    --secondary-progress-color: #333333;
    --animation-duration: 2000;
}

.r-progress-bar {
    position: relative;
    height: 10px;
    background-color: var(--secondary-progress-color);
    display: flex;
    border-radius: 3px;
    overflow: hidden;
}

.r-progress-bar .progress-value {
    height: 100%;
    width: calc(var(--progress) * 1%);
    background-color: var(--progress-color);
    position: relative;
    border-radius: 3px;
    animation: load;
    animation-fill-mode: forwards;
    animation-duration: calc(var(--animation-duration) * 1ms);
    animation-timing-function: linear;
    animation-delay: 500ms;
    color: black;
}

.r-progress-bar.percentage-label::after {
    counter-reset: percentage var(--progress);
    content: counter(percentage) '%';
    display: block;
    position: absolute;
    left: calc((var(--progress) * 1%) - 3rem);
    animation: load;
    animation-fill-mode: forwards;
    animation-duration: calc(var(--animation-duration) * 1ms);
    animation-timing-function: linear;
    animation-delay: 500ms;
    color: white;
    font-size: 10px;
    line-height: 1.2;
    font-weight: 700;
    font-family: var(--font-2);
}

.image-absolute-1 {
    position: absolute;
    left: 60%;
    top: 40%;
}

.icon-box {
    max-width: 80px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e8696275;
    text-align: center;
}

.img-filter {
    filter: brightness(37%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
}

.img-filter-1 {
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
    transition: all 0.5s;
}

.img-filter-1:hover {
    filter: none;
}

.breadcrumb .breadcrumb-item a {
    color: var(--gray-color);
}

.breadcrumb .breadcrumb-item.active {
    color: var(--accent-color);
}

.min-vh-65 {
    min-height: 65vh;
}

.list-group .list-group-item {
    background-color: transparent;
    color: var(--gray-color);
    font-family: var(--font-2);
}

.maps {
    width: 100%;
    height: 400px;
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
}

.caption {
    background: linear-gradient(0deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .3) 70%, transparent);
}

form .form-label{
    color: var(--gray-color);
}

input.form-check-input {
    background-color: white;
}

.spacer{
    position: relative;
    width: 100%;
    height: 20px;
}

.fs-404{
    font-size: 19rem;
    font-weight: 700;
}

@media only screen and (max-width:768px) {
    h1 {
        font-size: 68px;
    }

    h2 {
        font-size: 56px;
    }

    h3 {
        font-size: 36px;
    }

    h5 {
        font-size: 24px;
    }

    h6 {
        font-size: 14px;
    }

    .section {
        padding: 6em 0.5em 6em 0.5em;
    }

    .divider {
        width: 330px;
    }

    .fs-very-large {
        font-size: 3.125rem;
    }

    .image-absolute-1 {
        left: 45%;
        top: 35%;
    }
}